@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.link{
color: rgb(139, 130, 74);
}

.logo {
    font-size: 2rem;
    font-family: 'Kaushan Script', cursive;
    color: black;
    font-weight: bold;
    text-align: center;
}

body{
    background: url('../images/educ2.jpg') no-repeat ;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.form-div { 
margin-top: 100px; 
border: 1px solid #e0e0e0; 
}

#profileDisplay { 
display: block; 
height: 210px; 
width: 60%; 
margin: 0px auto; 
border-radius: 50%; 
}

.img-placeholder {
  width: 60%;
  color: white;
  height: 100%;
  background: black;
  opacity: .7;
  height: 210px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.img-placeholder h4 {
  margin-top: 40%;
  color: white;
}

.img-div:hover .img-placeholder {
  display: block;
  cursor: pointer;
}

#btn{
    background-image: linear-gradient(to right,rgb(139, 130, 74), rgb(56, 53, 31));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
}
#btn:hover{
    background-image: linear-gradient(to right,rgb(56, 53, 31), rgb(139, 130, 74));
}

thead {
    text-align: center;
}

tbody {
    text-align: center;
}